html{

    /* margin: 5px; */
    /* border: 1px solid red; */
}

body{

    margin: 0;
    border: 1px solid green;

    font-family: 'Roboto Slab', serif;
}

.container1{

    /* border: 1px solid blue; */
    
    /* margin: 5px; */
    /* height: 100vh; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.container1 div{
    margin: 5px;
}

.sectionA{
    border: 1px solid brown;
}

h1{
    font-size: 3.5rem;
}

.sectionB{
    border: 1px solid cornflowerblue
}

.toolbar{
    border: 1px solid goldenrod;
}

#form{

    margin-left: 0;
    border: 1px solid green;

    justify-content:start;
    
    /* display: flex; */
    display: none;
}

#form div{

    border: 1px solid rebeccapurple;
    display: flex;
}

input{
    font-family: 'Patrick Hand SC', cursive;
}

button{
    font-family: 'Patrick Hand SC', cursive;
}

.library{

    margin: 5px;

    display: flex;
    flex-direction: column;

    border: 1px solid purple;
}

.movieRow{

    margin: 5px;
    display: flex;

    border: 1px solid palevioletred;
}

.movie{

    width: 200px;
    height: 200px;

    margin: 5px;
    border: 1px solid pink;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.movieName{
    font-size: 1.3rem;
}

.movieDirector{

    font-size: 1rem;
    font-family: 'Patrick Hand SC', cursive;
}

.movieDuration{
    font-size: 0.7rem;
}

.movieRelease{
    font-size: 0.7rem;
}

.buttonTray{

    /* margin-top: ; */

    display: flex;
    justify-content: space-between;
}